body{
    margin: 0;
    padding: 0;
    font-family: "Lato",sans-serif;
}

/*
INFORMATION BAR
*/
#bottom-info-bar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    padding: 0px;
    color: white;
    background: #008ad3;
    font-size: 12px;
}
#bottom-info-bar span{
    padding: 5px;
}
#bottom-info-bar #languageModeSpan:hover{
    cursor: pointer;
    background: #006498;
}


/*
PREFERENCES 
*/
.prefContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prefContainer h1{
    text-align: center;
}

/*
LANGUAGE MODE DIALOG
*/
#languageModeDialog{
    position: absolute;
    top: 0;
    left: 30%;
    max-width: 400px;
    min-width: 300px;
    background: #efefef;
    color: black;
    display: none;
    flex-direction: column;
    border:none;
    outline:none;
    position: absolute;


}
#languageModeDialog ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#languageModeDialog li{
    padding: 10px;
}
#languageModeDialog li:hover{
    cursor: pointer;
    background: #ccc;
}