<html>
    <head>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="node_modules/uikit/dist/css/uikit.css" />
    
    <!-- UIkit JS -->
    <script src="node_modules/uikit/dist/js/uikit.min.js"></script>
    <script src="node_modules/uikit/dist/js/uikit-icons.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/index.css">

   

  
    </head>
    <body>
        <!--Append child when creating a new file-->
           
    </body>
</html>